body{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    background-color:rgb(248, 246, 246);
    line-height: 1.6em;
    margin:0;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;

}
a:active{
    color: green;
}
/*
a:visited{
    color: blue;
}*/


.my-box h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 800;
    text-decoration: underline;
    text-transform: lowercase;
    font-size:35px;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.container{
    width:80%;
    margin: auto;
    
}
.my-box{
    color: chocolate;
    background-color: cornsilk;
    line-height: 1.6em;
    border-bottom: red solid;
    border-top: red solid;
    border-right: red solid;
    border-left: red solid;
    /*also written as*/
    border: red solid;
    padding-bottom: 10px;
    padding-left: 5px;
}
.my-box2{
    border: 3px double white;
    padding: 24px;
    margin: 9px;



    /*everything you need to know about categories*/
}
.categories{
    border: 1px rgb(139, 28, 28) solid;
    padding: 10px;
    border-radius: 15px;

}

.categories h2{
    text-align: center;
}
.categories ul{
    list-style: square;
    padding: 0;
    padding-left: 20px;
    list-style: none;
}


.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px black;
    list-style-image: url('../images/check.png');
}




/* everything you need to know about forms*/
.my-form{
    padding: 20px;
}
.my-form .form-group{
    padding-bottom: 10px;

}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
/*.my-form input[type="submit"]{
    background-color: burlywood;
    color: black;
    padding: 5px 15px;
    border-radius: 0.5em;
}
/* we can use another easier method so as apply on another place
on the page*/
.button{
    background-color: burlywood;
    color: black;
    padding: 5px 15px;
    border-radius: 0.5em;
}
.button:hover{
    background: red;
    color: white;
}



/* everyting you need to know about floating text to left or right*/
.Block{
    float: left;
    width: 33.3%;
    border: 0.5px solid black;
    padding: 10px;
    box-sizing: border-box; 
}

/* after floating, it is neccessary to use clear fuction*/
.clear{
    clear:both;
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
#side-bar{
    float: right;
    width: 30%;
    border-radius: 1.6em;
    background: darkolivegreen;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
}

.p-box{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url('../images/coverpics.png');
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top;

    
}
.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;

}
.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;

}

.fix-me{
    position: fixed;
    top: 400px;

}

.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background: blue;
}
.my-list li:nth-child(7){
    background: green;
}
.my-list li:nth-child(even){
    background: grey;
}